*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input {
    width: 100%;
    border-radius: 20px;
    height: auto;
    padding: 8px;
    margin: 8px ;
    border: 1px solid blue;
    outline: none;

}

button {
    padding: 4px 10px;
    border-radius: 20px;
    border: 1px solid blue;
}
